/* Basic Styling */
html{
    zoom: 110%;
    font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
    background-color: #222222;
    color: white;
    background-image: url("../img/background/background10p.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
	scroll-behavior: smooth;
}

body{
    height: 100%;
    overflow-x: hidden;
}

#BackToTop{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: transparent;
    font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
    font-weight: bold;
    font-size: 15px;
    color: white;
    background: none;
    cursor: pointer;
    z-index: 9;
    text-decoration: underline;
}

i{
    padding-left: 3px;
    color: white;
    text-decoration: underline;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.HIDE{
    display: none;
}

a{
    color: white;
}

.Separator{
    margin-top: 10px;
    background-color: white;
    border-radius: 10px
}

/* Header Styling */

header{
    text-align: center;
    min-height: 275px;
}

.Page-Title{
    padding-top: 20px;
}

.MovieNight{
    font-size: 23px;
    font-weight: bold;
    margin: 15px 0px;
}

.PageTitle{
    font-size: 50px;
    font-weight: bold;
    padding: 10px 0px;
}

.SubTitle{
    font-size: 17px;
    font-style: italic;
    padding: 10px 0px;
}

.ThisPage{
    text-decoration: none;

}

nav{
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 ;
}
/* Header Styling End */

.WIP{
    position: fixed;
    background-image: url(../img/WIP.png);
    background-size: 171px 32px;
    width: 2296px;
    height: 1858px;
    left:-420px;
    top: -531px;
    opacity: .05;
    rotate: 22.5deg;
    scale: 0.75;
    pointer-events: none;
}


/* Watch List Styling */
.MovieWrapper{
    margin-left: 20px;
    min-height: 300px;
    padding-bottom: 150px;
}

.RowWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Hide{
    display: none;
}

.ThemeWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.MovieListing{
    position: relative;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 50px;

}

.GreenBG{
    background-color: rgba(15, 172, 15, 0.03);
}

.InvisMovieListing{
    position: relative;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;

}


.MovieTitle{
    text-align: center;
    max-width: 150px;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 7px;
}

.Watched{
    position: absolute;
    opacity: .5;
    pointer-events: none;
}

.MoviePoster img{
    height: 250px;
    width: 150px;
    float: left;
    transition: transform .25s;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
}

@keyframes Shadow{
    0%{
        box-shadow: 0 0 10px 200vh rgba(0, 0, 0, 0);
    }
    100%{
        box-shadow: 0 0 10px 200vh rgba(0, 0, 0, 0.80);
    }
}

.MoviePoster img:active{
    box-sizing: content-box;
    transition-delay: 0.2s;
    position: absolute;
    transform: scale(3.25);
    opacity: 1;
    border: solid black 1px;
    z-index: 10;
    animation: Shadow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.MovieDetails{
    margin-top: 10px;
    padding-left: 160px;
}

.Detail{
    padding-bottom: 15px;
}

.DetailTitle{
    padding-bottom: 3px;
}

.MovieDetails p{
    font-size: 11px;
    font-weight: normal;
}

.MovieDetails span{
    font-size: 14px;
    font-weight: bold;
}
/* Watch List Ending */

/* Theme Styling */
.ThemeSeparator{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    border-bottom: solid rgba(255, 255, 255, 0.199) 1px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.Theme{
    cursor: pointer;
    width: 100%;
    border-bottom: solid rgba(255, 255, 255, 0.199) 1px;
    margin-bottom: 25px;

}

.ThemeName{
    margin-left: 10px;
    font-size: 12px;
    padding-bottom: 10px;
}

.ThemeNameInline{
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    padding-bottom: 10px;
}

.Buffer{
    margin-top: 25px;
}

.Padding{
    width: 25%;
    /* border-bottom: solid white 1px;
    margin-bottom: 25px; */
}

.DWAFmob{
    display: none;
}

.Small{
    font-size: 9px;
}
/* End Theme Sytling */


/* Footer Styling */
.Footercontainer{
    background-color: #131313;
    align-content: center;
    max-width: 100%;
    min-height: 125px;
}

footer{
    height: 125px;
    box-sizing: border-box;
    padding-top: 50px;
}

footer p{
    text-align: center;
}

/* Footer Styling End */

/* Width 1200px */
@media (max-width: 1200px){

    #BackToTop{
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        height: 30px;
    }

    html{
        zoom: normal;
    }
}

/* width 1000px */
@media (max-width: 1000px){
   
    #BackToTop{
        right: 15px;
        font-size: 20px;
        background: none;
    }

    nav{
        justify-content: space-around;
    }

    .MovieWrapper{
        margin-left: 50px;
    }

    .MovieListing{
        position: relative;
        width: 45%;
        box-sizing: border-box;
        padding: 10px;
    }

    .GreenBG{
        background-color: rgba(0, 0, 0, 0);
    }

    .InvisMovieListing{
        position: relative;
        width: 45%;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 50px;
    }

    .Theme{
        text-align: center;
        margin-right: 100px;
    }

    .ThemeName{
        margin-right: auto;
    }

    .Padding{
        display: none;
    }

    .DWAF{
        display: none;
    }
   
    .DWAFmob{
        display: block;
        margin-right: 0px;
        width: 100%;
    }

}

/* Mobile */
@media (max-width: 698px) {
    .container{
        width: fit-content;
    }

    .Theme{
        cursor: none;
        pointer-events: none;
        display: none;
    }

    .Hide{
        display: flex;
    }

    .MovieWrapper{
        margin-left: 70px;
    }

    .MovieListing{
        position: relative;
        width: 100%;
        margin-left: 136px;
        box-sizing: border-box;
        padding-bottom: 30px;
    
    }

    .MoviePoster img:hover{
        transition-delay: 0.5s;
        position: relative;
        transform: scale(1);
        opacity: 1;
        z-index: 1;
        animation: none;
        border: none;
    }

}

/* Moderate */
@media (max-width: 550px) {
    
    .MovieListing{
        position: relative;
        width: 100%;
        margin-left: 14px;
        box-sizing: border-box;
        padding-left: 0px;
        padding-bottom: 30px;
    }

}

/* Very Small */
@media (max-width: 400px) {
   
    .MovieWrapper{
        margin-left: auto;
    }

    .MovieListing{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding-left: 50px;
        padding-bottom: 30px;
    }

    .InvisMovieListing{
        display: none;
    }

    .MovieDetails p{
        font-size: 13px;
        font-weight: normal;
    }

}
