@charset "utf-8";
/* CSS Document */

header{
    padding-bottom: 35px;
    padding-top: 35px;
}

html{
    font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
    background-color: #222222;
    color: white;
    background-image: url(background/background10p.png);
    background-attachment: fixed;
}

a{
	color: white;
}

.sep{
    background-color: white;
    height: 5px;
    width: 75%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
}

.Page.Title{
	text-align: center;
}

.Page.Title h1{
    font-size: 23px;
    margin-bottom: -26px;
}
.Page.Title h2{
    font-size: 37px;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Page.Title h3{
	font-style: italic;
}


.wrapper{
	align-content: center;
	text-align: center;
}

.nb-list{
    list-style: none;
    /* [disabled]padding-right: 38px; */
    text-align: left;
    font-style: italic;
    font-size: 10px;
    padding-left: 54px;
}

.Movie.Row{
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    padding-bottom: 25px;
    max-height: 415px;
    min-height: 415px;
    padding-top: 0px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Row.Half{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Movie.Listing{
    box-sizing: border-box;
    display: inline-block;
    max-width: 250px;
    max-height: 150px;
    min-width: 250px;
    min-height: 0px;
}
.Movie.Poster img{
    /* [disabled]width: 150px; */
    -webkit-box-shadow: 0px 0 10px #000000;
    box-shadow: 0px 0 10px #000000;
    max-width: 150px;
    max-height: 225px;
    min-width: 150px;
    min-height: 225px;
    transition: transform .3s;
}

.Movie.Poster img:hover{
	position: relative;
	transform: scale(3);
	opacity: 1.0;
	z-index: 10;
	
}


.Movie.Listing h3{
	font-size: 12px;
}

.Details span{
    font-weight: bold;
    font-size: 13px;
    max-width: 150px;
    font-style: normal;
}

.Row.Wrap{
    position: relative;
    max-height: 385px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 385px;
}

/*
.Watched{
	opacity: 0.25;
}

.Watched:hover{
	opacity: 1;
}
*/

.Check:after{
    content: '';
    display: block;
    position: relative;
    height: 100px;
    width: 100px;
    background: url("posters/Watched.svg.png");
    background-size: 100%;
    top: -275px;
    right: -75px;
	opacity: 0.5;
}

footer{
    text-align: center;
    align-content: center;
    background-color: #131313;
    color: white;
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    margin: 50px 0px;
}

.nav{
}

.nav.item{
	display: inline-block;
	padding: 5px 45px;
	
}
.nav.wrapper{
    margin-top: -14px;	
}

.Crew{
    box-sizing: border-box;
    display: inline-block;
    max-width: 250px;
    max-height: 150px;
    min-width: 250px;
    min-height: 0px;
}
.Crew.Avatar img{
    /* [disabled]width: 150px; */
    -webkit-box-shadow: 0px 0 10px #000000;
    box-shadow: 0px 0 10px #000000;
    max-width: 150px;
    max-height: 225px;
    min-width: 150px;
    min-height: 225px;
    transition: transform .3s;
}

.Crew.Avatar img:hover{
	position: relative;
	transform: scale(3);
	opacity: 1.0;
	z-index: 10;
	
}

.Review.Row.Wrap{
	position: relative;
    display: block;	
}

.Review.Row{
    display: block;	
}

.Review.Listing{
    display: inline-block;
}

.Review.Listing h3{
    text-align: left;
}

.Review.Details{
    float: right;
	display: block;
}

.Review.Container{
    position: relative;
    display: inline-block;
	padding: 0px 150px;
}
