/* Basic Styling */
html{
    font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
    background-color: #222222;
    color: white;
    background-image: url("../img/background/background10p.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
	scroll-behavior: smooth;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

a{
    color: white;
}

.Separator{
    margin-top: 10px;
    background-color: white;
    border-radius: 10px
}

/* Header Styling */

header{
    text-align: center;
    min-height: 275px;
}

.Page-Title{
    padding-top: 20px;
}

.MovieNight{
    font-size: 23px;
    font-weight: bold;
    margin: 15px 0px;
}

.PageTitle{
    font-size: 37px;
    font-weight: bold;
    padding: 10px 0px;
}

.SubTitle{
    font-size: 17px;
    font-style: italic;
    padding: 10px 0px;
}

.ThisPage{
    text-decoration: none;

}

nav{
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 ;
}
/* Header Styling End */

/* Watch List Styling */
.MovieWrapper{
    margin-left: 20px;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
}

.MovieListing{
    position: relative;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;

}

.MovieTitle{
    text-align: center;
    max-width: 150px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}

.Watched{
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
    background: url("../img/posters/Watched.svg.png");
    background-size: 100%;
    top: 100px;
    right: 176px;
	opacity: 0.5;
}

.MoviePoster img{
    height: 250px;
    width: 150px;
    float: left;
    transition: transform .25s;
    box-shadow: 0px 0px 10px black;
}

.MoviePoster img:hover{
    transition-delay: 0.5s;
    position: relative;
    transform: scale(3);
    opacity: 1;
    z-index: 10;
}

.MovieDetails{
    margin-top: 10px;
    padding-left: 160px;
}

.Detail{
    padding-bottom: 15px;
}

.DetailTitle{
    padding-bottom: 3px;
}

.MovieDetails p{
    font-size: 11px;
    font-weight: normal;
}

.MovieDetails span{
    font-size: 14px;
    font-weight: bold;
}

/* Watch List Ending */

/* Crew Styling */
.TheCrewWrapper{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}

.TheCrewWrapper p{
    font-size: 14px;
    margin-top: 10px;
}

.CrewMember{
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    width: 33%;
    overflow: hidden;
}

.Name{
    text-align: center;
    max-width: 150px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.CrewAvatar{
    margin: 0 auto;
    height: 250px;
    width: 150px;
    float: left;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.30);
}

/* Crew Avatar Div Style */
.Dolt{
    background-image: url(../img/avatars/Dolt.png);
    background-position: center;
    height: 250px;
    width: 150px;
}

.Demdy{
    background-image: url(../img/avatars/Demdy.png);
    background-position: center;
    height: 250px;
    width: 150px;
}

.Green{
    background-image: url(../img/avatars/Placeholders/Green.jpg);
    background-position: center;
    background-size: 150px 250px;
    height: 250px;
    width: 150px;
}

.Kamen{
    background-image: url(../img/avatars/KamenAlt.png);
    background-position: center;
    background-size: 297px 252px;
    height: 250px;
    width: 150px;
}

.TalentLess{
    background-image: url(../img/avatars/TalentLss.png);
    background-position: center;
    background-size: 150px 250px;
    height: 250px;
    width: 150px;
}

.Truth{
    background-image: url(../img/avatars/Placeholders/Truth.jpg);
    background-position: center;
    background-size: 150px 250px;
    height: 250px;
    width: 150px;
}

.CrewDetails{
    margin-left: 170px;
    vertical-align: baseline;
}

.CrewDetails p span{
    font-size: 16px;
    font-weight: bold;
}
/* End Crew Styles */

/* Footer Styling */
.Footercontainer{
    background-color: #131313;
    align-content: center;
    width: 100vw;
    min-height: 125px;
}

footer{
    text-align: center;
    height: 125px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p{
    margin-bottom: 5px;
}
/* Footer Styling End */

/* width 1000px */

@media (max-width: 1000px){
    .CrewMember{
        width: 50%;
    }
}

/* Mobile */
@media (max-width: 698px) {
    .container{
        width: fit-content;
    }

    .TheCrewWrapper{
        align-content: center;
    }

    .CrewMember{
        
        width: 100%;
    }
    
}