/* Basic Styling */
html{
    font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
    background-color: #222222;
    color: white;
    background-image: url("../img/background/background10p.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
	scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.HIDE{
    display: none;
}

a{
    color: white;
}

.Separator{
    margin-top: 10px;
    background-color: white;
    border-radius: 10px
}

/* Header Styling */

header{
    text-align: center;
    min-height: 275px;
}

.Page-Title{
    padding-top: 20px;
}

.MovieNight{
    font-size: 23px;
    font-weight: bold;
    margin: 15px 0px;
}

.PageTitle{
    font-size: 50px;
    font-weight: bold;
    padding: 10px 0px;
}

.SubTitle{
    font-size: 17px;
    font-style: italic;
    padding: 10px 0px;
}

.ThisPage{
    text-decoration: none;

}

nav{
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 ;
}
/* Header Styling End */

.WIP{
    position: fixed;
    background-image: url(../img/WIP.png);
    background-size: 1250px 164px;
    width: 1250px;
    height: 164px;
    z-index: 10000;
    top: 452px;
    opacity: .05;
    rotate: 22.5deg;
    scale: 1.5;
    pointer-events: none;
}

/* Watch List Styling */
.MovieWrapper{
    margin-left: 20px;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 150px;
}

.MovieListing{
    position: relative;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 50px;

}

.InvisMovieListing{
    position: relative;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;

}


.MovieTitle{
    text-align: center;
    max-width: 150px;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 7px;
}

.Watched{
    position: absolute;
    opacity: .5;
    pointer-events: none;
}

.MoviePoster img{
    height: 250px;
    width: 150px;
    float: left;
    transition: transform .25s;
    box-shadow: 0px 0px 10px black;
}

.MoviePoster img:hover{
    transition-delay: 0.5s;
    position: relative;
    transform: scale(3.25);
    opacity: 1;
    z-index: 10;
}

.MovieDetails{
    margin-top: 10px;
    padding-left: 160px;
}

.Detail{
    padding-bottom: 15px;
}

.DetailTitle{
    padding-bottom: 3px;
}

.MovieDetails p{
    font-size: 11px;
    font-weight: normal;
}

.MovieDetails span{
    font-size: 14px;
    font-weight: bold;
}
/* Watch List Ending */

/* Theme Styling */
.Theme{
    width: 100%;
    border-bottom: solid rgba(255, 255, 255, 0.199) 1px;
    margin-bottom: 25px;

}

.ThemeName{
    margin-left: 10px;
    font-size: 12px;
    padding-bottom: 10px;
}

.ThemeNameInline{
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    padding-bottom: 10px;
}

.Buffer{
    margin-top: 25px;
}

.Padding{
    width: 25%;
    /* border-bottom: solid white 1px;
    margin-bottom: 25px; */
}

.DWAFmob{
    display: none;
}

.Small{
    font-size: 9px;
}
/* End Theme Sytling */


/* Footer Styling */
.Footercontainer{
    background-color: #131313;
    align-content: center;
    width: 100vw;
    min-height: 125px;
}

footer{
    text-align: center;
    height: 125px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p{
    margin-bottom: 5px;
}
/* Footer Styling End */

/* width 1000px */

@media (max-width: 1000px){
   
    nav{
        justify-content: space-around;
    }

    .MovieWrapper{
        margin-left: 50px;
    }

    .MovieListing{
        position: relative;
        width: 45%;
        box-sizing: border-box;
        padding: 10px;
    
    }
    
    .InvisMovieListing{
        position: relative;
        width: 45%;
        box-sizing: border-box;
        padding: 10px;
    
    }

    .Theme{
        text-align: center;
        margin-right: 100px;
    }

    .ThemeName{
        margin-right: auto;
    }

    .Padding{
        display: none;
    }

    .DWAF{
        display: none;
    }
   
    .DWAFmob{
        display: block;
        width: 100%;
    }

    .WIP{
        position: fixed;
        background-image: url(../img/WIP.png);
        background-size: 171px 32px;
        width: 1959px;
        height: 1698px;
        left:-447px;
        top: -341px;
        opacity: .05;
        rotate: 22.5deg;
        scale: 0.75;
        pointer-events: none;
    }
}

/* Mobile */
@media (max-width: 698px) {
    .container{
        width: fit-content;
    }

    .MovieWrapper{
        margin-left: 70px;
    }

    .MovieListing{
        position: relative;
        width: 100%;
        margin-left: 136px;
        box-sizing: border-box;
        padding-bottom: 30px;
    
    }

    .MoviePoster img:hover{
        transition-delay: 0.5s;
        position: relative;
        transform: scale(1);
        opacity: 1;
        z-index: 1;
    }

    .Theme{
        display: none;
    
    }
    
    .ThemeName{
        display: none;

    }
    
    .Buffer{
        display: none;
    }
}

/* Moderate */
@media (max-width: 550px) {
    
    .MovieListing{
        position: relative;
        width: 100%;
        margin-left: 14px;
        box-sizing: border-box;
        padding-left: 0px;
        padding-bottom: 30px;
    }

}

/* Very Small */
@media (max-width: 400px) {
   
    .MovieWrapper{
        margin-left: auto;
    }

    .MovieListing{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding-left: 50px;
        padding-bottom: 30px;
    }

    .InvisMovieListing{
        display: none;
    }

    .MovieDetails p{
        font-size: 13px;
        font-weight: normal;
    }

}